.bg-image{
    background-image: url('img/bg-big.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#header-text{
    padding-top: 10%;
}

#header-text h1{
    line-height: 1.8em;
    margin-top: 5px;
    letter-spacing: 1px;
}

#header-text h5{
    line-height: 1.8em;
    margin-top: 5px;
}

#header-text .btn{
    padding: 20px 30px;
    border-radius: 25px;
}

#navbarNav{
    justify-content: center;
}

#navbarNav ul li{
    text-transform: uppercase;
    font-size: small;
    padding: 5px;
    margin: 3px 10px;
}

#navbarNav ul li:after {
    content: "";
      border-bottom:1px solid white;
      width:60%;
      display:block;
      margin:0 auto;
    }

#navbarNav ul li a{
    color: white;
}

#navbarNav ul li a:hover{
    border-bottom: 2px solid white;
}

#language{
    text-decoration: none;
    background-color: green;
    float: right;
    color: white;
    font-size: bold;
}

#side-logo{
    width: 60%;
    height: 80%;
}

#side-logo-text{
    color: green;
}

header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}